process {
    executor = 'slurm'
    queue = 'BioCompute'
    time = '2d'
    memory = '240 GB'
    clusterOptions = '--account=warrenlab'
    cpus = 26
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/WarrenLab/nextflow-nf'
    author = 'Edward S. Rice'
    version = '0.0.1'
}
