process {
    executor = 'slurm'
    queue = 'BioCompute'
    time = '2d'
    memory = '48 GB'
    clusterOptions = '--account=warrenlab'

    // these are resources for most intensive step, cellranger count
    withName: 'CR_COUNT' {
        memory = '240 GB'
        cpus = 13
        publishDir = 'molecule_info'
    }

    // these are the GPU resources for cellbender
    withName: 'CELLBENDER' {
        queue = 'Gpu'
        clusterOptions = '--gres gpu:1'
        time = '2h'
        memory = '32 GB'
        conda = '/storage/hpc/group/warrenlab/users/esrbhb/mambaforge/envs/cellbender'
    }

    withName: 'CR_AGGREGATE' { publishDir = [path: 'aggregated', mode: 'copy'] }
    withName: 'CELLBENDER|MAKE_AGGREGATION_TABLE' {
        publishDir = [path: 'cellbender', mode: 'copy']
    }

}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/WarrenLab/cellranger-nf'
    author = 'Edward S. Rice'
    version = '0.0.1'
}
